Flask
flask-cors
earthengine-api
python-dotenv
requests
gunicorn

numpy
torch
pandas
scikit-learn
Pillow
opencv-python-headless
google-genai
matplotlib
reportlab
SQLAlchemy
psycopg2-binary
PyJWT
pytest
